backend/HELP.md
backend/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
target/
target/classes/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
backend/src/main/java/com/.DS_Store
backend/src/.DS_Store
backend/src/main/java/.DS_Store
backend/src/main/.DS_Store
backend/src/main/java/com/causwe/backend/.DS_Store
backend/src/main/java/com/causwe/.DS_Store
backend/.DS_Store
.DS_Store
backend/src/main/resources/application.properties
node_modules/
src/main/resources/application.properties
target/classes/
target/classes/application.properties
target/classes/com/causwe/backend/BackendApplication$1.class
target/classes/com/causwe/backend/controller/UserController.class
target/classes/com/causwe/backend/model/Issue.class
target/classes/com/causwe/backend/model/Issue$Priority.class
target/classes/com/causwe/backend/model/Issue$Status.class
target/classes/com/causwe/backend/controller/IssueController.class
target/classes/com/causwe/backend/controller/UserController.class
target/classes/com/causwe/backend/controller/IssueController.class
target/classes/com/causwe/backend/controller/UserController.class
target/classes/com/causwe/backend/repository/IssueRepository.class
